{
	"root": true,
	"extends": ["standard"],
	"env": {
		"node": true,
		"jest": true,
		"browser": true
	},
	"globals": {
		"__DEV__": true
	},
	"parser": "babel-eslint",
	"plugins": ["prettier", "react"],
	"rules": {
		"react/jsx-uses-react": "error",
		"react/jsx-uses-vars": "error",
		"no-underscore-dangle": "off",
		"quotes": [
			2,
			"double",
			{
				"avoidEscape": true
			}
		],
		"indent": [2, "tab"],
		"no-tabs": 0,
		"arrow-parens": 0,
		"no-var": 2,
		"prefer-const": 1,
		"camelcase": [
			"error",
			{
				"properties": "always"
			}
		],
		"key-spacing": [
			"error",
			{
				"beforeColon": false,
				"afterColon": true,
				"align": "colon"
			}
		],
		"object-curly-spacing": ["error", "always"],
		"curly": ["error", "all"],
		"brace-style": ["error", "1tbs"]
	}
}
